.skinhub-banner{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.skinhub-banner img {
    width: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

.search-container {
    padding: 0px 200px;
}

.skinhub-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.skinhub-search input {
    flex: 1;
    padding: 12px 40px 12px 12px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.skinhub-search .search-icon {
    position: absolute;
    right: 10px;
    color: #b08968;
    cursor: pointer;
    font-size: 1.5rem; 
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    padding: 3rem 12rem; 
    min-height: 60vh;
    position: relative;
}
  
  .products-card {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: fit-content;
  }
  
  .product-details {
    text-align: center; 
  }
  
  .product-details h3, 
  .product-details h4 {
    margin: 10px 0; 
    font-size: 1.5rem;
  }
  .product-details h3{
    color: #774936;
  }
  .product-details h4{
    color: #9d6b53;
  }
  
  /* .product-details img {
    height: auto;
    width: 20%;
  } */
  .products-review{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .pagination{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-bottom: 2rem; 
  }

  .pagination button{
    align-items: center;
    background-color: #a47148;
    color: white;
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: none;
  }
  
  .skinhub-search input::placeholder {
    font-size: 16px; /* Default font size for larger screens */
  }


  .no-products-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .no-products-image {
    max-width: 80%; /* Responsive image width */
    /* height: auto;   Maintain aspect ratio */
    margin-bottom: 0px; /* Space between the image and text */
  }
  
  .no-products {
    font-size: 18px; /* Font size */
    color: #333;     /* Font color */
    margin: 0;       /* Remove default margin */
  }
  
  
  /* Media Queries for Mobile Screens */
  @media (max-width: 767px) {
    .search-container {
        padding: 0 1rem;
    }
    .skinhub-search {
        flex-direction: column;
    }
    .skinhub-search input {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 12px 40px 12px 12px;
    }
    .skinhu-search .search-icon {
        display: none;
    }
    .products {
        grid-template-columns: 1fr;
        padding: 1.5rem;
    }
    .product-details h3,
    .product-details h4,
    .product-details h5 {
        font-size: 1.2rem;
    }
    .product-details p {
        padding: 1rem;
    }
    .product-details img {
        width: 150px;
        height: 150px;
    }
    /* Adjust Placeholder Font Size for Mobile Screens */
    .skinhub-search input::placeholder {
        font-size: 12px; /* Smaller font size for smaller screens */
    }
  }




/* Media Queries for Mobile Screens */
/* @media (max-width: 767px) {
    .search-container {
        padding: 0 1rem;
    }

    .skinhub-search {
        flex-direction: column;
    }

    .skinhub-search input {
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 12px 40px 12px 12px;
    }

    .skinhub-search .search-icon {
        display: none;
    }

    .products {
        grid-template-columns: 1fr;
        padding: 1.5rem;
    }

    .product-details h3, 
    .product-details h4 {
        font-size: 1.2rem;
    }

    /* .product-details img {
        height: auto;
        max-width: min-content;
    } */
}
@media (min-width: 768px) and (max-width: 1025px){
  .products {
    padding: 3rem 2.5rem; 
}
.product-details h3, 
.product-details h4 {
    font-size: 1rem;
}
} */
