
.skinhub-banner{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
 
}

.skinhub-banner img {
    width: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}


/* search bar */
.search-container{
    padding: 0px 200px;
}

.skinhub-search {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.skinhub-search input {
    flex: 1; 
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px; 
}

.skinhub-search .search-icon {
    padding: 1rem;
    background-color: #b08968; 
    color: white;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.skinhub-search .search-icon:hover {
    background-color: #e6b8a2; 
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: default;
} */

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between items as needed */
    padding: 3rem 12rem; /* Optional: Add padding to the container */
    min-height: 100vh;
  }
  
  .products-card {
    background-color: white; /* Optional: Background color for the card */
    border: 1px solid #ddd; /* Optional: Border for the card */
    border-radius: 8px; /* Optional: Border radius for rounded corners */
    padding: 20px; /* Add padding inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
  }
  
  .product-details {
    text-align: center; /* Center the text inside the product details */
  }
  
  .product-details h3, 
  .product-details h4,
  .product-details h5 {
    margin: 10px 0; /* Add some space between the text elements */
    font-size: 1.5rem;
  }
   
  .product-details p{
    padding: 1rem 3rem;
  }
  
  .product-details img {
    display: block;
    margin: 0 auto; /* Center the image */
    width: 200px;
    height: 200px;
    object-fit: cover; /* Ensure the image covers the defined area */
  }

  .pagination{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-bottom: 2rem; 
  }

  .pagination button{
    align-items: center;
    background-color: #a47148;
    color: white;
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: none;
  }