/* banner */
/* banner */
/* .trending-content {
    padding: 0 20px; 
} */

.trending-banner{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
}

.trending-banner img {
    width: 100%;
    height: 500px;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}



/* trending products*/
.skinhub-trending {
    margin-bottom: 20px;
    padding: 0px 200px;
}

.trending-heading {
    font-size: 1.5rem;
    color: #333;
    margin: 2rem 0rem;
  
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.trending-product {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content; 
}

.trending-product span {
    margin-right: 10px;
    font-weight: bold;
}

.trending-product i {
    font-size: 0.8rem; 
    color: #007bff; 
}


.trending-products-content{
    padding-top: 3rem;
    padding-right: 20rem;
    padding-left: 20rem;
}
.trending-products-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    background-color: white;
    margin-bottom: 20px;
}

.trending-products-upvote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 1rem;
}

.trending-products-upvote i {
    font-size: 2rem; 
    cursor: pointer;
}

.trending-product-details {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.trending-product-details-image{
    width: fit-content;
}
.trending-product-details-text {
    font-size: 1.5rem;
   
    
}
.trending-product-text{
  
    padding-top: 0.8rem;
}

.trending-product-details-text p {
    display: inline-block; 
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top: 2rem;
    color: #fff; 
    background-color: #b08968; 
    border-radius: 3rem; 
}

.trending-products-review {
    margin-left: auto;
    padding-right: 3rem;
}

.trending-products-review i {
    font-size: 1.5rem; 
    cursor: pointer;
}

.comment-box {
    display: none; 
    margin-top: 10px;
}

.comment-box input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
}

.comment-box button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Show comment box when comment icon is clicked */
.comment-box.active {
    display: flex;
}

.trending-pagination {
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin-bottom: 2rem; 
  
}
.trending-pagination button{
    /* display: inline-block; */
    align-items: center;
    background-color: #a47148;
    color: white;
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border: none;
    
    
}

/* 
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: default;
} */