

.category-menu {
  list-style-type: none; 
  margin: 3rem; 
  
  
}

.category-menu li {
  margin-bottom: 20px; 
  white-space: nowrap;
}

.category-menu a {
  cursor: pointer; 
  padding: 0; 
  font-size: 1.8rem; 
  text-decoration: none;
}

.category-menu a:focus {
  outline: none; 
}

.category-menu a:hover {
  text-decoration: underline; 
}


