  /* Homepage Header*/
  .homepage {
    padding: 20px; /* Adjust padding as needed */
  }
  .homepage-header {
    display: flex;
    align-items: center;
    padding: 60px;
  }
  .header-content {
    flex: 1; /* Take up remaining space */
  }
  .header-content h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px; 
  }
  .header-content h2 {
    font-size: 1.8rem; 
    margin-bottom: 10px; 
  }
  .header-content p {
    font-size: 1.2rem; 
    margin-bottom: 20px; 
  }
  .header-content button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .header-image {
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: flex-end; /* Align image to the right */
  }
  .header-image img {
    max-width: 100%; /* Ensure image doesn't exceed container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Homepage Stats*/

  .homepage-numbers {
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
  .numbers-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .numbers-par {
    margin-bottom: 20px; 
  }
  
  .number-box {
    display: flex; /* Display children (box divs) in a row */
    flex-wrap: wrap;
    justify-content: space-between; /* Space evenly between the boxes */
  }
  
  .box {
    flex: 1; /* Each box takes up equal space */
    background-color: white; /*  box background color */
    border: 1px solid #ccc; /*  border */
    padding: 20px;
    margin-right: 10px; /*  margin between boxes */
    display: flex;
    flex-direction: column; /* Stack icon and number vertically */
    flex-wrap: wrap;
    align-items: center; /* Center align content */
  }
  
  .box i {
    font-size: 2rem; /*  icon size */
    margin-bottom: 10px; /*  margin between icon and number */
  }
  
  .box h3 {
    font-size: 1.5rem; /* number font size */
  }

  /* Homepage Quiz*/

  .homepage-quiz {
    background-color: #f9f9f9; 
    padding: 20px;
  }
  
  .quiz-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; /* Display image and content side by side */
    align-items: center; /* Center align vertically */
  }
  
  .quiz-image {
    flex: 1; /* Image takes up 1/3 of the space */
    margin-right: 20px; /* margin between image and content */
  }
  
  .quiz-image img {
    max-width: 100%; /* Ensure image doesn't exceed container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .quiz-row {
    flex: 1; /* Each row takes up equal space */
    display: flex;
    justify-content: space-between; /* Space items evenly within each row */
    margin-bottom: 10px; /* margin between rows */
  }
  
  .box-content {
    flex: 1; /* Each box-content takes up equal space within its row */
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Stack icon and paragraph vertically */
    align-items: center; /* Center align content */
  }
  
  .box-content i {
    font-size: 2rem; /* icon size */
    margin-bottom: 10px; /*  margin between icon and paragraph */
  }
  
  .box-content p {
    font-size: 1.2rem; 
  }

  /* About Section*/
  .homepage-about {
    background-color: #f0f0f0; 
    padding: 40px;
    
  }
  
  .heading {
    margin-bottom: 20px; 
    text-align: center;
  }
  
  .heading h2 {
    font-size: 2rem; 
    color: #333; 
  }
  
  .about-content {
    max-width: 800px; 
    margin: 0 auto; /* Center align content */
  }
  
  .about-content h3 {
    font-size: 1.2rem; 
    line-height: 1.6; 
    color: #666; 
    text-align: center;
  }

  /* Team Members */
  .homepage-team {
    background-color: #f9f9f9; 
    padding: 40px;
    text-align: center; 
  }
  
  .heading {
    margin-bottom: 20px; 
  }
  
  .heading h2 {
    font-size: 2rem; 
    color: #333; 
  }
  
  .team-content {
    display: flex;
    justify-content: center; /* Center align team members horizontally */
    gap: 80px; /*  gap between team members */
    flex-wrap: wrap; /* Allow members to wrap into multiple rows */
  }
  
  .team-member {
    text-align: center; 
    max-width: 400px; 
    padding: 40px;
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
  }
  
  .member-image {
    width: 180px; 
    height: 180px; 
    border-radius: 50%; /* Make the image round */
    margin-bottom: 10px; 
  }
  
  .member-name {
    font-size: 1.5rem; 
    margin-bottom: 2px; 
  }
  
  .member-title {
    font-size: 1.2rem; 
    color: #666; 
    margin-top: 10px; 
  }
  
  .connect-button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 12px 24px; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .connect-button:hover {
    background-color: #0056b3; 
  }
  
  /* Homepage FAQ */
  .homepage-faq {
    padding: 20px;
  }
  .heading h2 {
    text-align: center;
  }
  .faq-content {
    margin-top: 20px;
    padding: 0px 200px;
  }
  .faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
  }
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
