.Quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 2.25rem;
    padding-bottom: 7.5rem;
}

.Quiz .quiz-container {
    padding: 1rem 2rem 2rem 2rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Quiz .image {
    width: 30rem;
}

.Quiz .image-container {
    overflow: hidden;
    height: 25rem;
}

.Quiz .question * {
    display: inline;
}

.Quiz .question {
    font-size: 1.45rem;
}

.Quiz .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5rem;
    gap: 1rem;
    width: 35rem
}

.Quiz .option {
    color: white;
    background-color: #507d68;
    border: none;
    width: 17rem;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
}

.Quiz .buttons {
    padding-top: 1rem;
}

.Quiz .buttons * {
    font-size: 1.25rem;
    width: 8rem;
}

.Quiz .progress-bar {
    width: 30vw;
}

@media (max-width: 500px) {
    .Quiz .image {
        width: 12rem;
    }

    .Quiz .image-container {
        height: 10rem;
    }

    .Quiz .question {
        font-size: 0.95rem;
        text-align: center;
    }

    .Quiz .progress-bar {
        width: 65vw;
    }

    .Quiz .quiz-container {
        padding: 1rem;
        overflow-y: scroll;
        
    }

    .Quiz .options {
        width: 16rem;
        padding: 0 0.75rem;
    }

    .Quiz .option {
        font-size: 0.85rem;
        width: 10rem;
    }

    
    .Quiz .buttons * {
        font-size: 0.7rem;
        width: 6rem;
    }
}