.Quiz {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 75vw;
    height: 90vh;
    background-color: #FCF7F2;
    margin: auto;
    margin-top: 2rem;
    font-size: 2rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 1rem;
}

.quiz-top {
    height: 20rem;
}

.quiz-banner {
    display: block;
    width: 100%;
    height: 16rem;
    object-fit:cover;
    object-position: bottom;
    position: relative;
}

.quiz-icon {
    width: 10rem;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 45%;
}

.Quiz h1 {
    color: #69443c;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0 4rem;
    height: 15rem;
}

.question-text {
    margin-bottom: 1rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10rem;
}

.options * {
    margin: 0.5rem;
}

.option {
    width: 14rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    color: white;
    background-color: #3c6050;
    border: 2px solid #3c6050;
    border-radius: 0.5rem;
}

.option:hover {
    background-color: #507d68;
    border: 2px solid #507d68;
    
}

.progress-bar {
    margin: auto;
    width: 35rem;
}

.buttons {
    margin-top: 1rem;
}