.RoutinePage .banner-image {
    width: 100%;
    height: 30rem;
    object-fit:cover;
    object-position: middle;
}

.RoutinePage {
    text-align: center;
}

.ProductsList {
    display: flex;
    gap: 1rem;
    justify-content: center;
}