.Quiz {
    text-align: center;
    width: 70vw;
    height: 70vh;
    background-color: #FCF7F2;
    margin: auto;
    font-size: 3rem;
}

.quiz-banner {
    width: 100%;
    height: 12rem;
    object-fit:cover;
    object-position: top;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.question-text {
    margin: 2rem;
}

.options * {
    margin: 0.5rem;
}

.option {
    width: 12rem;
    font-size: 1.25rem;
}