.Product {
    font-family: 'DM Sans Variable', sans-serif;
    display: flex;
    flex-direction: column;
    width: 25ch;
    height: 20rem;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-info {
    width: 25ch;
    height: 10rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 0.5rem;
    background-color: #d5d5d5cc;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.name-price *{
    display: inline;
    margin: 0.5rem;
}

.name-price {
    margin-top: auto;
}

.learn-likes *{
    display: inline;
    margin: 0.5rem;
}

.learn-more {
    background-color: #304a7a;
    border: 2px #304a7a solid;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
}

.product-image {
    height: 10rem;
    width: fit-content;
}


.Product h3, .Product h4 {
    font-weight: bold;
}

.modal-body img{
    width: 20rem;
}

.heart {
    color: black;
}

@media (max-width: 769px) {
    .Product .modal-image{
        width: 10rem;
    }  
}