.Product {
    font-family: 'DM Sans Variable', sans-serif;
    display: flex;
    flex-direction: column;
    width: 27ch;
    height: 21rem;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #7d512b;
}

.product-info {
    width: 25ch;
    height: 9rem;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    background-color: #d4c5b9c1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.name-price * {
    display: inline;
    margin: 0.5rem;
}

.name-price {
    margin-top: auto;
}

.learn-likes *{
    display: inline;
    margin: 0.5rem;
}

.learn-more {
    background-color: #15616d;
    border: 2px #15616d solid;
    border-radius: 0.5rem;
    color: #efece9;
    font-size: 0.85rem;
    padding: 0.5rem;
    cursor: pointer;
}

.product-image {
    height: 10rem;
    width: auto;
}

.Product h3, .Product h4 {
    font-weight: bold;
}

.modal-body img{
    width: 20rem;
}

.heart {
    color: black;
}

@media (max-width: 769px) {
    .Product .modal-image{
        width: 10rem;
    }  
}