/* .skinHubModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: left;
  }
  
  .skinHubModal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .skinHubModal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .skinHubModal-header .close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .skinHubModal-body {
    margin-top: 10px;
  } */

  /*---------------------/**/

  /* .products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .product {
    font-family: 'DM Sans Variable', sans-serif;
    display: flex;
    flex-direction: column;
    width: 27ch;
    height: 21rem;
    align-items: center;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #7d512b;
  }
  
  .product-info {
    width: 25ch;
    height: 9rem;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #d4c5b9c1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .product-info .name-price {
    margin-top: auto;
  }
  
  .product-info .name-price * {
    display: inline;
    margin: 0.5rem;
  }
  
  .product-image {
    height: 10rem;
    width: auto;
  }
  
  .product h3,
  .product h4 {
    font-weight: bold;
  }
  
  .no-products {
    text-align: center;
    color: red;
  }
  
  .pagination {
    text-align: center;
    margin-top: 1rem;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
  } */
  
  /* Modal styles */
  /* .skinHubModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .skinHubModal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .skinHubModal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .skinHubModal-header .close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .skinHubModal-body {
    margin-top: 10px;
  }
  

  /*this control the images*/
  /* .modal-image {
    height: 20rem;
    width: fit-content;
  } */ 

  .skinHubModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top of other content */
    text-align: left;
  }
  
  .skinHubModal-content {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    width: 60%;
    max-height: 80vh;
    overflow: scroll;
  }
  
  .skinHubModal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .skinHubModal-body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem;
  }
  
  .skinHubModal-body * {
    margin: 0.5rem;
  }
  
  .close {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: black;
  }
  
  .skinHubModal .comment-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .modal-image {
    height: 20rem;
    width: fit-content;
  } 


  @media (max-width: 1200px) {
    .skinHubModal .modal-image {
      width: fit-content;
    }
  
    .skinHubModal-body {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  
    .skinHubModal-content {
      width: 70%;
      height: 70%;
    }
  
    .skinHubModal-body h3 {
      font-size: 1.25rem;
    }
  
    .skinHubModal-body h4 {
      font-size: 1rem;
    }
  
    .skinHubModal-body p {
      font-size: 0.75rem;
    }
  }
  