.ChatBot {
    font-family: 'Poppins', sans-serif;
    color: #7d512b;
    position: fixed;
    bottom: 4.7rem;
    right: 1rem;
    text-align: start;
}

.ChatBot .non-active {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.ChatBot .image-container {
    background-color: white;
    border-radius: 100%;
    padding: 0.2rem 0.4rem 0 0.2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ChatBot .image-container img {
    margin: auto;
}

.ChatBot .chat-container {
    width: 18rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ChatBot .header-icon {
    border: 0.5px solid rgb(195, 175, 175);
    border-radius: 100%;
    padding: 0.1rem;
    background-color: white;
}

.ChatBot .header {
    display: flex;
    background-color: rgb(225, 212, 212);
    color: #7d422b;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    gap: 0.5rem; 
    font-size: 0.8rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.ChatBot .header-icon{
    width: 2rem;
}

.ChatBot .content {
    width: auto;
    height: 20rem;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0.5rem;
    overflow: auto;
    gap: 0.5rem;
    font-size: 0.7rem;
    border-bottom: 2px solid #f3eeeb;
}

.ChatBot .message {
    background-color: rgb(243, 238, 235);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    margin-left: auto;
}

.ChatBot .response {
    display: flex;
    gap: 0.5rem;
    width: 17rem;
}

.ChatBot .reply {
    background-color: #f3eeeb;
    padding: 0.5rem 0.5rem;
    height: auto;
    border-radius: 0.4rem;
    display: inline;
}

.ChatBot .chat-icon {
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(202, 198, 198);
    border-radius: 100%;
    background-color: white;
}

.ChatBot .input-container {
    width: auto;
    display: flex;
    background-color: #f3eeeb;
}

.ChatBot .submit-prompt {
    all: unset; 
    padding: 0 1rem;
    cursor: pointer;
}

.ChatBot #user-input {
    border: none;
    font-size: 0.8rem;
}