.navbar {
    /* background-color: #e6c99e; */
    
    color: #174933;
    padding: 0px 20px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1200px; */
    
  }
  
  .logo {
    width: 16rem;
  }
  
  .tabs {
    display: flex;
  }
  
  .tabs a {
    font-family: 'DM Sans Variable', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: #174933;
    margin-right: 20px;
  }
  
  .buttons button {
    background-color: #fff7eb;
    color: #174933;
    border: 1px solid #174933;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 4rem;
    font-size: 1rem;
  }
  .buttons button:hover {
    background-color: #e6c99e;
  }
  
  /* .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  } */

  .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  