.navbar {
    background-color: #ede0d4;
    
    color: #174933;
    padding: 0px 20px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .logo {
    width: 18rem;
  }
  
  .tabs {
    display: flex;
  }
  
  .tabs * {
    font-family: 'DM Sans Variable', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #174933;
    margin-right: 20px;
  }
  
  .buttons button {
    background-color: #fff7eb;
    color: #174933;
    border: 1px solid #174933;
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 12px;
    border-radius: 4rem;
    font-size: 1rem;
    
  }
  .buttons button:hover {
    background-color: #e6c99e;
  }
  
  

  .nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: blue;
  }


.user-image {
  width: 3.25rem;
  border-radius: 100%;
}

.logged-in {
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.logout {
  height: 2.5rem;
}