.TryingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure modal is on top of other content */
    text-align: left;
    
  }
  
  .TryingModal-content {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2rem;
    border-radius: 2rem;
    position: relative;
    width: 60%;
    max-height: 80vh;
    overflow: scroll;
    
  }
  
  .TryingModal-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .TryingModal-body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem;
  }
  
  .TryingModal-body * {
    margin: 0.5rem;
  }
  
  .close {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: black;
  }
  
  .TryingModal .comment-icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-image {
    height: 20rem;
    width: fit-content;
  } 


  @media (max-width: 1200px) {
    .TryingModal .modal-image {
      width: fit-content;
    }
  
    .TryingModal-body {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  
    .TryingModal-content {
      width: 70%;
      height: 70%;
    }
  
    .TryingModal-body h3 {
      font-size: 1.25rem;
    }
  
    .TryingModal-body h4 {
      font-size: 1rem;
    }
  
    .TryingModal-body p {
      font-size: 0.75rem;
    }
  }
  