.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-color: #b08968;
    color: #fff;
}
.footer-logo{
    width: 13rem;
}

.footer-tags a{
    font-family: 'DM Sans Variable', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin: 0.5rem;
    
}

@media screen and (max-width:900px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        background-color: #b08968;
        color: #fff;
    }

    .footer-logo{
        display: none;
    }
    .footer-tags a{
        font-family: 'DM Sans Variable', sans-serif;
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
    }
    
}