.footer {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b08968;
    clear: both;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
}

.footer-content {
    margin: 0 2rem;
    color: #fff;
    order: 3;
    width: 100%;
}

.footer-logo {
    width: 13rem;
    order: 2;
}

.footer-tags {
    order: 1;
    width: 100%;
}

.footer-tags a {
    font-family: 'DM Sans Variable', sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-right: 20px;
}

/* @media (min-width: 768px) {
    .footer-content {
        order: 3;
        width: auto;
    }

    .footer-logo {
        order: 2;
    }

    .footer-tags {
        order: 1;
        width: auto;
    }

    .footer {
        flex-wrap: nowrap;
        text-align: left;
    }
}

@media (max-width: 769px) {
    .footer-logo {
        display: none;
    }
    .footer {
        padding: 1rem;
    
    }
}
@media (max-width: 416px) {
    .footer-tags {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem; 
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .footer {
        padding-bottom: 1rem;
    
    }
} */



/* Styles for screens narrow than 1200px */
@media (max-width: 1200px){
    .footer-content {
      order: 3;
      width: auto;
    }
  
    .footer-tags {
      order: 1;
      width: auto;
    }
  
    .footer {
      flex-wrap: nowrap;
      text-align: left;
      padding: 1rem;
    }
    .footer-logo {
        display: none;
    }
  }
  
  /* Styles for screens narrower than 769px */
  @media (max-width: 768px) {
    .footer {
      padding: 1rem; /* Additional padding for smaller screens */
    }
    .footer-logo {
        display: none;
    }
  }
  
  /* Styles for screens narrower than 416px */
  @media (max-width: 415px) {
    .footer-tags {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .footer {
      padding-bottom: 1rem; /* Additional bottom padding for smallest screens */
    }
    .footer-logo {
        display: none;
    }
  }