
.article-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 0.5rem;
}

.article {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    
}

.article a {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
}

